/* Front-end Web Design (11056)
Project 2 - Responsive Website
Keir Herbert (u3211239)
April 2021 */

/* Reset the CSS formatting to a known baseline */
@import url(reset.css);

/* Define colour variables */
:root {
    --paper: #fefff9;
    --transparent-charcoal: #383838e0;
}

/* Format major page elements */
body {
    background-color: var(--paper);
    display: grid;
    grid-template-areas:
        "navi navi navi navi navi navi navi navi navi navi"
        "hero hero hero hero hero hero hero hero hero hero"
        ".    .    main main main main main main .       ."
        "foot foot foot foot foot foot foot foot foot foot";
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
}

header {
    background-color: var(--transparent-charcoal);
    grid-area: navi;
    position: sticky;
    top: 0;
    z-index: 100; /* make sure that sticky header stays on top of eveything else! */
}

main {
    grid-area: main;
}

footer {
    background-color: var(--transparent-charcoal);
    grid-area: foot;
    color: #ffffff;
    font-size: 0.75em;
    text-align: center;
}

/* Text formatting */
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    border-bottom: 1px solid black;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
}

h2 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

cite {
    font-style: italic;
}

figcaption {
    font-size: 0.6em;
}

/* List formatting */
ul {
    list-style-type: square;
    margin-bottom: 1em;
    padding-left: 4em;
}

nav ul {
    font-size: 0.8em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

nav li {
    display: inline-block;
    padding: 10px 5px 10px 5px;
}

nav li a {
    color:#ffffff;
    padding: 10px 5px 10px 5px;
}

nav li a:hover {
    background-color: #00000085;
    color:#ffffff;
}

/* Classes for customisation */
.currentpage {
    background-color: #36363685;
    color:#ffffff;
}

.photo-title {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 5px var(--transparent-charcoal);
}

.title {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.top-left-text {
    position: absolute;
    top: 8px;
    left: 10px;
}

.top-right-text {
    position: absolute;
    top: 8px;
    right: 10px;
}

/* Image management */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-container {
    grid-area: hero;
    margin: 0 0 3em 0; /* create a generous gap under the hero image banner */
    max-height: 500px;
}

#content-mosaic {
    display: grid;
    grid-template-areas:
        "box1 box2 box2"
        "box3 box2 box2"
        "box3 box4 box4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    gap: 0.75em;
    list-style-type: none;
    margin: 2em auto 2em auto;
    padding: 0;
}

#image1 {
    grid-area: box1;
    position: relative;
}

#image2 {
    grid-area: box2;
    position: relative;
}

#image3 {
    grid-area: box3;
    position: relative;
}

#image4 {
    grid-area: box4;
    position: relative;
}

#single-photo {
    margin: 1em auto 3em auto;
}

#tri-photo-gallery {
    display: grid;
    grid-template-areas:
        "tri-photo1 tri-photo2 tri-photo3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    column-gap: 0.75em;
    row-gap: 3em;
    list-style-type: none;
    margin: 2em auto 3em auto;
    padding: 0;
}

#tri-photo1 {
    grid-area: tri-photo1;
    position: relative;
}

#tri-photo2 {
    grid-area: tri-photo2;
    position: relative;
}

#tri-photo3 {
    grid-area: tri-photo3;
    position: relative;
}

#bi-photo-gallery {
    display: grid;
    grid-template-areas:
        "bi-photo1 bi-photo2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    column-gap: 0.75em;
    row-gap: 3em;
    list-style-type: none;
    margin: 2em auto 3em auto;
    padding: 0;
}

#bi-photo1 {
    grid-area: bi-photo1;
    position: relative;
}

#bi-photo2 {
    grid-area: bi-photo2;
    position: relative;
}

/* Media queries section*/

/* This first query manages the width of the main content. On a super wide screen, the grid mechanism narrows the main content to a visually pleasing width.
   Once the browser window width drops to a more common FHD arrangement, the main content is allowed to spread out a bit more. */
@media screen and (max-width: 1800px) {
    body {
        grid-template-areas:
            "navi navi navi navi navi navi navi navi navi navi"
            "hero hero hero hero hero hero hero hero hero hero"
            ".    main main main main main main main main    ."
            "foot foot foot foot foot foot foot foot foot foot";
    }
}

/* At a browser window width of around 850 pixels the main navigation bar at the top of the screen starts to wrap and look ugly. So at this point it's changed
   to a vertical list. */
@media screen and (max-width: 850px) {
    nav li {
        display:list-item;
    }
}

/* When the browser window width drops below 800 pixels, the main content is allowed to occupy the entire screen width ... save for a small margin to keep
   things looking pretty. */
@media screen and (max-width: 800px) {
    body {
        grid-template-areas:
            "navi navi navi navi navi navi navi navi navi navi"
            "hero hero hero hero hero hero hero hero hero hero"
            "main main main main main main main main main main"
            "foot foot foot foot foot foot foot foot foot foot";
        }
    
    main {
        margin: auto 0.5em auto 0.5em;
    }
}

/* Once the browser width drops below 650 pixels, the content-mosaic, bi-photo and tri-photo gallery elements starts to look ungainly, so they're all adjusted to display
   a single column layout. */
@media screen and (max-width: 650px) {
    #content-mosaic {
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4";
        grid-template-columns: 1fr;
    }
    
    #tri-photo-gallery {
        grid-template-areas:
            "tri-photo1"
            "tri-photo2"
            "tri-photo3";
        grid-template-columns: 1fr
    }

    #bi-photo-gallery {
        grid-template-areas:
            "bi-photo1"
            "bi-photo2";
        grid-template-columns: 1fr;
    }
}